/* Position property: 
    static   :Default Position
    relative : podition related to its original position. Top,left,bottom,right,z-index
    absolute : position related to the nearest parent. If no such ancestor, then parent. But parent's positon must not be static
    fixed : position related to the viewport. It will not move when scrolling
    sticky: position related to the viewport, but it will move with scrolling until a certain point, then it will become fixed
*/

.box1{
    width: 600px;
    height: 100px;
    border: 2px solid black;
    margin: 2px;

    background-color: lightblue;
    
}
.box2{
    width: 600px;
    height: 100px;
    border: 2px solid black;
    margin: 2px;

    background-color: lightgreen;
    /* position: relative; */
    /* position: fixed; */
    /* position: sticky; */
    top: 1px;
    z-index: 1; /* Ensures this box stays on top of others when scrolling */

}
.boxA{
    width: 300px;
    height: 50px;
    border: 2px solid black;
    margin: 2px;
    background-color: lightpink;
    /* position: absolute; */
    top:10px;
    left: 20px;

}
.boxAB{
    width: 100px;
    height: 20px;
    border: 2px solid black;
    background-color: lightyellow;
    /* position: absolute; */
    top: 15px;
    left: 25px;
}
.box3{
    width: 600px;
    height: 100px;
    border: 2px solid black;
    margin: 2px;

    background-color: lightcoral;
    /* position:sticky; */
}
.box4{
    width: 600px;
    height: 100px;
    border: 2px solid black;
    margin: 2px;
    position:sticky;

    background-color: lightgoldenrodyellow;
}
